.resume-section {
    background-color: rgb(17, 20, 23);
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

/* Background/Foreground Text Effect */
.resume-title-box {
    position: relative;
    text-align: center;
    margin-bottom: 60px;
}

#para{
    font-size: 4vmax;
    background: linear-gradient(to right,rgb(203, 53, 108),white);
    background-clip: text;
    color: transparent;
    text-align: center;
}

.bg-title {
    font-size: 4vmax;
    background: linear-gradient(to right,rgb(203, 53, 108),white);
    background-clip: text;
    color: transparent;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.subtitle {
    color: #999;
    max-width: 750px;
    margin: 20px auto 0;
    font-size: 16px;
}

/* Experience Subheading */
.experience-header h2 {
    font-size: 32px;
    margin-bottom: 15px;
    color: #7ad7ea;
}

.underline {
    width: 100%;
    height: 2px;
    background: #333;
    margin-bottom: 40px;
}

.blue-line {
    width: 200px;
    height: 100%;
    background: #5c97cf; /* Signature yellow */
}

/* Experience Cards */
.experience-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.experience-card {
    background: #1a1a1a;
    padding: 40px;
    border-radius: 5px;
    transition: background 0.3s;
}

.experience-card:hover {
    background: #222;
}

.experience-card .date {
    color: #7ad7ea;;
    font-weight: 700;
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}

.experience-card .company {
    display: block;
    font-size: 14px;
    letter-spacing: 3px;
    color: #777;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.details {
    padding-left: 20px;
    color: #bbb;
}

.details li {
    margin-bottom: 12px;
    line-height: 1.6;
}

.container {
   padding: 5%;
}